# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
a = pd.Series(np.random.randint(1,5,100))
b = pd.Series(np.random.randint(1,4,100))
c = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
con = pd.concat([a,b,c], axis=1)
con.head()

   0  1      2
0  3  3  25950
1  2  3  12199
2  1  2  19570
3  3  2  25164
4  3  3  14046

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
con.columns=['bedrs','bathrs','price_sqr_meter']
con.head()

   bedrs  bathrs  price_sqr_meter
0      3       3            25950
1      2       3            12199
2      1       2            19570
3      3       2            25164
4      3       3            14046

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
bigcolumn = pd.concat([a,b,c], axis=0)
bigcolumn

0         3
1         2
2         1
3         3
4         3
      ...
95    29582
96    20492
97    18695
98    16478
99    18865
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          3
1          2
2          1
3          3
4          3
       ...
295    29582
296    20492
297    18695
298    16478
299    18865
Length: 300, dtype: int32